.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.text-sm {
  font: var(--text-sm);
}

.subtitle {
  font: var(--subtitle);
}

.color-red {
  color: var(--color-red);
}

.color-gray-100 {
  color: var(--color-gray-100);
}

.color-gray-300 {
  color: var(--color-gray-300);
}

.pt-4 {
  padding-top: 16px;
}

.bg-color-gray-500 {
  background-color: var(--color-gray-500);
}