.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.text-sm {
  font: var(--text-sm);
}

.subtitle {
  font: var(--subtitle);
}

.color-red {
  color: var(--color-red);
}

.color-gray-100 {
  color: var(--color-gray-100);
}

.color-gray-200 {
  color: var(--color-gray-200);
}

.color-gray-400 {
  color: var(--color-gray-400);
}


.bg-gray-400 {
  background-color: var(--color-gray-400);
}

.bg-gray-500 {
  background-color: var(--color-gray-500);
}

.pt-4 {
  padding-top: 16px;
}